/* 🔹 Estilos generales del contenedor y los ítems */
#lista { 
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
}

.espacio-cultural {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background-color: #f9f9f9;
  font-family: system-ui, sans-serif;
  text-align: center;
}

.espacio-cultural .nombre {
  margin-top: 8px;
  font-weight: 500;
  font-size: 0.95rem;
  color: #333;
}

.espacio-cultural .tipo_instalacion, .espacio-cultural .isla, .espacio-cultural .municipio {
  margin-top: 4px;
  font-size: 0.85rem;
  color: #666;
}

/* 🔹 Estilos para el componente de puntuación */
#asignar-puntuacion-btn{
  margin-top: 15px;
  padding: 6px 12px;
  font-size: 0.85rem;
  color: #0e173c;
  background-color: #70d8e9;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#asignar-puntuacion-btn:hover {
  background: #27aef1;
}