#progressContainer{
  width: 100%;
  height: 10px;
  background: #e5e7eb;
  cursor: pointer;
}

#progressBar{
  height: 100%;
  width: 0%;
  background: #0e7ce9;
}

#speedBtn{
  background-color: #0ed3e9;
  color: rgb(0, 0, 0);
  border: none;
  padding: 1px 5px;
  border-radius: 10px;
  cursor: pointer;
}

#backward, #forward{
  background-color: #0ed3e9;
  color: rgb(0, 0, 0);
  border: none;
  padding: 1px 5px;
  border-radius: 10px;
  cursor: pointer;
}

#playPause, #stop{
  background-color: #0ed3e9;
  color: rgb(0, 0, 0);
  border: none;
  padding: 1px 10px;
  border-radius: 10px;
  cursor: pointer;
}

#muteBtn{
  color: rgb(0, 0, 0);
  border: 1px solid #0ed3e9;
  padding: 1px 5px;
  border-radius: 10px;
  cursor: pointer;
}