@use "variables";
@use "mixins" as *;

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    padding: 2%;
    margin: 0;
    background-color: variables.$color-menu;
    @include border;
}

.titulo {
    grid-column: 1 / -1; // Ocupa toda la fila (empieza en la primera columna y termina en la última)
}

header, .navegacion, .main,
.descripcion, .productos, .producto, 
.testimonio, .testimonios, footer {
    padding: variables.$spacing;
}

header, .navegacion, .descripcion, 
.productos, .menu, .testimonios, footer {
    @include titulo_seccion;
}