// Colores
$color-header: #c9a4d9;
$color-nav-garantias: #cbe2f6;
$color-contenido-testimonios: #e2d7f2;
$color-menu: #eee;
$color-borde: #b0aeb3;
$color-descripcion: #d081a8;
$color-productos: #c1658c;
$color-producto: #f3b6c1;
$color-testimonio: #d2b5dd;
$color-cliente: #b46ea0;

// Tipografía
$font-main: 'Arial', sans-serif;

// Espaciado
$spacing: 1.2rem;