@use 'variables';

// Header con navegación
header {
    @include variables.cabeceras;
    padding: 10px 0;
    .nav__list {
        list-style: none; // Elimina los puntos de la lista
        display: flex;
        justify-content: center;
        align-content: center;
        gap: 20px;
        a {
            color: white;
            text-decoration: none;
            font-weight: bold;
            &:hover {
                text-decoration: underline;
            }
        }
    }
} 