@use "variables";
@use "footer";
@use "header";
@use "main";
@use "sidebar";
@use "banner";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr auto; // Header - Banner - Main - Footer
}

h1, h2, p {
    margin: 6px 0;
}